@font-face {
  font-family: "Bentoga";
  src: url('../Recursos/Bentoga-Thin.otf') format('opentype');
}
@font-face {
  font-family: "Euphoria Script";
  src: url('../Recursos/EuphoriaScript-Regular.ttf') format('truetype');
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #036 17.81%, #AAADFC 100%);
  color: white;
}
.titulo{
  width: 80%;
  margin: 0px 0px 20px;
  text-align: center;
  font-family: Bentoga,Georgia, 'Times New Roman', Times, serif;
  font-size: 87px;
  font-style: normal;
  font-weight: 100;
  line-height: 139.523%;
}
.contenido{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}
.contenedorFestejo{
  width: 40%;
  margin: 0px 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contenedorFestejo h2{
  margin: 0;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.523%;
}
.contenedorFestejo h3 {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.523%;
}
.contenedorFestejo p {
  color: #002B56;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.523%;
}
.contenedorFestejo img{
  width: 75%;
}

@media (max-width:780px){
    body{
      height: auto;
    }
    .titulo{
      margin: 30px 0px;
      font-size: 65px;
    }
    .contenido{
      flex-direction: column;
      width: 100%;
    }
    .contenedorFestejo{
      justify-content: center;
      width: 90%;
      margin: 0px 5%;
    }
    .contenedorFestejo img {
      width: 50%;
      margin: 10px 0px;
    }
}
@media (max-width:450px){
  .titulo{
    margin: 40px 0px 0px;
    font-size: 35px;
  }
  .contenedorFestejo{
    margin-top: 60px;
  }
  .contenedorFestejo h2{
    font-size: 22px;
  }
  .contenedorFestejo h3{
    font-size: 18px;
  }
  .contenedorFestejo p{
    font-size: 18px;
  }
  .contenedorFestejo img {
    width: 75%;
    margin: 0px 0px;
  }
  .pomobpin{
    margin: 10px 0px!important;
    padding: 0px 0px 50px!important;
  }
}